body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

nav {
  margin-top: -60px;
  margin-left: -60px;
  margin-right: -60px;
  background-color: goldenrod;
  padding: 0 10px;
}

nav ul {
  padding: 20px;
}

nav li {
  padding: 20px 15px;
  display: inline;
  list-style-type: none;
  text-align: center;
}

nav li:hover {
  background-color: rgb(226, 186, 84);
}

nav a {
  color: #272727;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: blue;
}

input, select {
  display: block;
  margin-bottom: 20px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

#divider {
  width: 80%;
  text-align: left;
  height: 3px;
  background-color: #cccccc;
}

table, form {
  margin-top: 40px;
}

table thead td {
  font-weight: bold;
  text-decoration: underline;
  min-width: 120px;
}

table td {
  padding: 5px 10px;
}

p.error-msg, .past {
  color: red;
  font-weight: bold;
}