body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

h2 {
  margin-top: 40px;
}

a {
  color: #00B7FF;
}

nav {
  margin-top: -60px;
  margin-left: -60px;
  margin-right: -60px;
  background-color: goldenrod;
  padding: 0 10px;
}

nav ul {
  padding: 20px;
}

nav li {
  padding: 20px 15px;
  display: inline;
  list-style-type: none;
  text-align: center;
}

nav li:hover {
  background-color: rgb(226, 186, 84);
}

nav a {
  color: #272727;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover {
  color: blue;
}

input, select {
  display: block;
  margin-bottom: 20px;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

#divider {
  width: 80%;
  text-align: left;
  height: 3px;
  background-color: #cccccc;
}

table, form {
  margin-top: 40px;
}

table thead th {
  font-weight: bold;
  text-decoration: underline;
  min-width: 120px;
}

table td {
  padding: 5px 10px;
  text-align: center;
}

p.error-msg, .past {
  color: red;
  font-weight: bold;
}

#new-destination-form {
  border: 1px solid #ccc;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
}

#new-destination-form input {
  display: inline-block;
}

#delete-destination-form, #delete-ticket-form {
  display: inline-block;
  margin-top: 5px;
}

button {
  background-color: rgb(226, 186, 84);
  color: #272727;
  border-radius: 3px;
  padding: 5px;
  border: 1px solid rgb(206, 169, 75);
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

button:hover {
  color: #383737;
  background-color: rgb(226, 192, 107);
}

#flight-details li {
  list-style-type: none;
}

#flight-details span{
  color: rgb(18, 46, 175);
  font-weight: bold;
}

div.left {
  width: 49%;
  float: left;
}

div.right {
  width: 49%;
  float: right;
}